@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --black: #191919;
    --black-it: rgba(25, 25, 25, 0.7);
    --white: #E8E8E8;
    --purple: #564256;
    --purple-t: rgba(86, 66, 86, 0.6);
    --purple-t2: rgba(86, 66, 86, 0.3);
    --orange: #FC814A;
    --text: 'Poppins', sans-serif;
    --handwritten: 'Apple', cursive;
}

body {
    font-family: var(--text);
}


/*----------[ Header/nav ]----------*/


.navbar {
    height: auto;
}

.navbar-toggler {
    padding: 0.2em 0.75em 0.75em;
    padding-left: 0px;
}

.navbar-toggler-icon {
    color: var(--orange);
}

.nav-link {
    color: var(--orange);
}

.nav-link:hover {
    color: var(--orange);
    filter: brightness(70%);
}

.nav-scrolled {
    background-color: var(--purple) !important;
    transition: all 0.3s ease-in-out;
}

.hero-image {
    background: url(/media/header-img.jpg) no-repeat center;
    background-size: cover;
    height: 90vh;
    position: relative;
}

.hero-text {
    clip-path: polygon(10% 0, 100% 20px, 100% 100%, 0% 100%);
    width: 51%;
    padding: 3rem 3.25rem 0.75rem 8%;
    background-color: var(--black);
    position: absolute;
    bottom: -0.1rem;
    right: 0rem;
}

.hero-text h1,
.hero-text h2 {
  background: -webkit-linear-gradient(45deg, var(--orange), var(--purple) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text h1 {
    font-size: 4em;
}

.hero-text h2 {
    letter-spacing: 4px;
}

.header-bottom {
    height: 10vh;
    background-color: var(--black);
}


/*----------[ Classes ]----------*/


.classes {
    background: -webkit-linear-gradient(45deg, var(--purple), var(--orange) 90%);
}

.classes h1 {
    color: var(--black);
    font-size: 3vw;
}

.card {
    border-radius: 15px !important;
    background-color: var(--orange);
    color: var(--black);
    border: none;
    outline: none;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.09);
    transition: transform 0.1s, box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0px 15px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.09);
    /*transform: scale(1.02);*/
}

.card-title {
    color: var(--purple);
    font-size: 1.3em;
    border-bottom: 2px solid var(--purple-t2);
}

.card-img {
    background-color: var(--purple-t);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: all 0.3s ease-in-out;
}

.card-img-purple {
    background-color: var(--purple);
}

.grow-card {
    transform: scale(1.05);
}

.card img {
    overflow: hidden;
    height: 80px;
    width: 80px;
}

.card button {
    background-color: var(--purple-t);
    padding: 12px;
    color: var(--white);
    transition: all 0.3s ease-in-out;
}

.card button:hover {
    background-color: var(--purple);
    transform: translateY(-5px);
    color: var(--white);
}

.card-text {
    text-align: justify;
}


/*----------[ Class subsections (hidden) ]----------*/


.pole-classes,
.hoop-classes,
.choreography-classes,
.strength-classes {
    background-color: var(--black);
}

.pole-classes h1,
.hoop-classes h1,
.choreography-classes h1,
.strength-classes h1 {
    background: -webkit-linear-gradient(45deg, var(--orange), var(--white) 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.classes h1 {
    color: var(--white);
    font-size: 3em;
}


/*----------[ Media queries ]----------*/


@media screen and (max-width: 432px) {

    .hero-text h2 {
        font-size: 0.6em !important;
    }

    .classes-container {
        padding: 1em !important;
    }

}


@media screen and (max-width: 648px) {

    .hero-text {
        max-width: 100%;
        padding-right: 0;
    }

    .card-body h5 {
        font-size: 4.5vw !important;
    }

    .classes h1 {
        text-align: center;
    }

}


@media screen and (min-width: 767px) and (max-width: 991px) {

    .card-text {
        height: 150px;
        font-size: 2vw;
    }

}


@media screen and (max-width: 774px) {

    .hero-text h1 {
        font-size: 2.4em !important;
    }

    .hero-text img {
        height: 90px !important;
        width: 90px !important;
        margin-bottom: 20px;
    }

}


@media screen and (max-width: 814px) {

    .hero-text h2 {
        font-size: 0.7em;
    }

}


@media screen and (min-width: 991px) {

    .card-text {
        height: 150px;
        font-size: 1.1vw;
    }

}


@media screen and (max-width: 991px) {

    .navbar-collapse {
        padding: 10px 0px 10px 10px;
    }

    .card {
        margin-bottom: 40px;
    }

    .card-title {
        font-size: 3.5vw !important;
    }

    .hero-img-wrapper {
        justify-content: start !important;
    }

    .hero-img-wrapper img {
        margin-left: 30px;
    }

}


@media screen and (max-width: 1163px) {

    .hero-text {
        width: 80%;
    }

    .hero-text h1 {
        font-size: 3.2em;
    }

    .hero-text img {
        height: 120px;
        width: 120px;
    }

}


@media screen and (max-width: 1333px) {

    .hero-text h2 {
        font-size: 0.7em;
    }

}

@media screen and (min-width: 1140px) {

    .card-title {
        font-size: 1.9vw !important;
    }
}
