@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --black: #191919;
    --black-it: rgba(25, 25, 25, 0.7);
    --white: #E8E8E8;
    --purple: #564256;
    --purple-t: rgba(86, 66, 86, 0.6);
    --orange: #FC814A;
    --text: 'Poppins', sans-serif;
    --handwritten: 'Apple', cursive;
}

body {
    font-family: var(--text);
}

.navbar {
    height: auto;
}

.navbar-toggler {
    padding: 0.2em 0.75em 0.75em;
    padding-left: 0px;
}

.navbar-toggler-icon {
    color: var(--orange);
}

.nav-link {
    color: var(--orange);
}

.nav-link:hover {
    color: var(--orange);
    filter: brightness(70%);
}

.nav-scrolled {
    background-color: var(--purple) !important;
    transition: all 0.3s ease-in-out;
}

.hero-image {
    background: url(/media/header-img.jpg) no-repeat center;
    background-size: cover;
    height: 90vh;
    position: relative;
}

.hero-text {
    clip-path: polygon(10% 0, 100% 20px, 100% 100%, 0% 100%);
    width: 51%;
    padding: 3rem 3.25rem 0.75rem 8%;
    background-color: var(--black);
    position: absolute;
    bottom: -0.1rem;
    right: 0rem;
}

.hero-text h1,
.hero-text h2 {
  background: -webkit-linear-gradient(45deg, var(--orange), var(--purple) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text h1 {
    font-size: 4em;
}

.hero-text h2 {
    letter-spacing: 4px;
}

.header-bottom {
    height: 10vh;
    background-color: var(--black);
}

.classes {
    height: 100vh;
    background: -webkit-linear-gradient(45deg, var(--purple), var(--orange) 90%);
        -webkit-text-fill-color: transparent;
}


@media screen and (max-width: 432px) {

    .hero-text h2 {
        font-size: 0.6em !important;
    }

}


@media screen and (max-width: 648px) {

    .hero-text {
        max-width: 100%;
        padding-right: 0;
    }

}


@media screen and (max-width: 774px) {

    .hero-text h1 {
        font-size: 2.4em !important;
    }

    .hero-text img {
        height: 90px !important;
        width: 90px !important;
        margin-bottom: 20px;
    }

}


@media screen and (max-width: 814px) {

    .hero-text h2 {
        font-size: 0.7em;
    }

}


@media screen and (max-width: 1163px) {

    .hero-text {
        width: 80%;
    }

    .hero-text h1 {
        font-size: 3.2em;
    }

    .hero-text img {
        height: 120px;
        width: 120px;
    }

}


@media screen and (max-width: 1333px) {

    .hero-text h2 {
        font-size: 0.7em;
    }

}
